@charset "utf-8";
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.15;
  color: #303133;
  background-color: #fff;
}
a {
  color: mix(#fff, $--color-primary, 20%);
  text-decoration: none;
  &:focus,
  &:hover {
    color: $--color-primary;
    text-decoration: underline;
  }
}
img {
  vertical-align: middle;
}
*,body,html{margin:0;padding:0;  font-size:14px;}

body{background: #ffffff;}
body,h1,h2,h3,h4,p,dl,dt,dd,ul,li,div{margin:0;padding:0}
em{ font-style: normal;}
a img,img{ border:none;}
a{text-decoration:none;color:#555;}
ul,ol,li{list-style:none;}
h1,h2,h3,h4,h5,h6{ font-weight:normal;}
select,input,img{ vertical-align:middle;}
input,button,select,textarea{
  outline:none;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border-radius:2px;
}
button{background: none;border:none;}
input{-webkit-appearance: none; border-radius: 0;border:none;background: none; }
i{ font-style:normal;}
table {border-collapse:collapse;border-spacing:0;}
/* 文本超出部分显示省略号 */
.ellipsis{white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
/* 禁用选中 */
.no-select{-moz-user-select: none;-webkit-user-select: none;user-select: none;}
/* 清除浮动 */
.clear:before, .clear:after {display: table;line-height: 0;content: ""; }
.clear:after {clear: both; }
.fl{ float:left;}
.fr{ float:right;}
.pr{position: relative;}
.pa{position: absolute;}
b{
  font-weight:normal;}
input:-webkit-autofill {-webkit-box-shadow: 0 0 0 1000px #2badcc inset;-webkit-text-fill-color: #fff;}
input::-webkit-input-placeholder {color: #999;}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #999; opacity:1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #999;opacity:1;
}

input:-ms-input-placeholder{
  color: #999;opacity:1;
}


input::-webkit-input-placeholder{
  color: #999;opacity:1;
}

article, aside, details, figcaption, figure, footer,header, menu, nav, section,
summary, time, mark, audio, video {
  display: block;
  margin: 0;
  padding: 0;
}

input:focus {
  border:1px solid #999999 !important;
}

/* Animation
------------------------------ */
.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}


/* Reset element-ui
------------------------------ */
.site-wrapper {
  .el-pagination {
    margin-top: 15px;
    text-align: right;
  }
}


/* Layout
------------------------------ */
.site-wrapper {
  position: relative;
}

body{
  background:#f1f4f5;
}

.new-content .el-tabs__header{
  position: fixed;
  top: 50px;
  left: 230px;
  right: 0;
  z-index: 930;
  padding: 0 55px 0 15px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);
  background-color: #fff;
}
.tabs-icon .el-tabs__header{
  position: static;
  box-shadow: none;
}
.is-always-shadow .el-card__body{
  padding:0;
}
.mod-role{
  padding:20px;
}
.new-content .new-tools {
  position: fixed;
  top: 50px;
  right: 0;
  z-index: 931;
  height: 40px;
  padding: 0 12px;
  font-size: 16px;
  line-height: 40px;
  background-color: #f1f4f5;
  cursor: pointer;
}
.el-checkbox{
  margin-right:30px;
}
.el-checkbox+.el-checkbox{
  margin-left:0;
}
.el-range-editor.el-input__inner{
  height:23px;
}
.el-date-editor .el-range__icon,.el-date-editor .el-range-separator,.el-date-editor .el-range__close-icon{
  line-height:16px;
}
.el-form-item__content{
  line-height:0;
}
.croppa-container{
  border: 1px solid #dcdcdc;
}
.el-submenu__title{
  color: #333;
}
.el-table .el-table__header .colorLabel{
  font-weight:bold;
  color: #333;
}
.el-table .el-table__body .pad-left{
  padding-left: 40px;
}
.colorRow{
  color: red;
}
.checkType .el-input__inner{
  width:85px;
  height:20px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.checkType .el-input__icon{
  line-height:20px;
}
